button {
  margin: .5rem;
  padding: 0;
}

mat-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: .5rem;
}

mat-card-title {
  margin: .5rem !important;
  width: 100%;
  font-size: 1rem;
}

.title{
  font-size: 2rem;
  margin-left: 1rem;
}

.dev {
  margin: .5rem 0 1rem .5rem !important;
  padding-right: .5rem;
  cursor: grab;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drag-indicator{
  margin: 0 0 0 1rem;
}

.pair-card {
  display: flex;
  min-height: 6rem;
  padding: 0 0 0 .5rem;
}

.cdk-drag-preview {
  margin: .5rem !important;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cdk-drag-placeholder{
  opacity: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

:active {
  cursor: grab;
}

.pairing-controls {
  display: flex;
  align-items: center;
  width: 100%;
}

.spuddies-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 500;
  padding: .5rem 0;
}

.cards-with-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dev-cards{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.screen-shot{
  padding: 1rem;
}

.history-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.4rem;

  h3 {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: inherit;
  }

  .delete-button {
    margin-left: auto;
    margin-right: 0;
  }
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.3rem;
  width: 100%;
}

.history-day {
  border-radius: 8px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  overflow: hidden;
  margin: 0.25rem;
  transition: all 0.3s ease;

  h4 {
    font-weight: 500;
    margin: 0;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    color: inherit;

    mat-icon {
      font-size: 1.2rem;
      width: 1.1rem;
      height: 1.1rem;
      line-height: 1.1rem;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li.history-pair {
      padding: 0.6rem;
      margin: 0.1rem;
      color: inherit;
      display: flex;
    }
  }
}
